<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.uen_facility_assessment">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">


        <activity
            android:name=".ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".ui.EndingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".ui.SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".database.AndroidDatabaseManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />


        <activity
            android:name=".ui.lists.FormsReportPending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".ui.lists.FormsReportCluster"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".ui.lists.FormsReportDate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.IdentificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.SectionMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UEN_Facility_Assessment.NoActionBar" />


        <activity
            android:name=".ui.sections.SectionAActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionBActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionC1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionC2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionD8Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE31Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE32Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE33Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionE8Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionF7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG41Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG42Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG43Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG44Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG45Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionG46Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH8Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH9Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH10Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH11Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH12Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH13Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH14Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH151Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH152Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH16Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionH17Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionI1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ6Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ8Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionJ9Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK3Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK4Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK61Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK62Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />


        <activity
            android:name=".ui.sections.SectionK7Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />

        <!--UEN_RS_KEY-->
        <meta-data
            android:name="YEK_REVRES"
            android:value="GSTa@ndInC%apACIT12B?E(H+MbQeThWmZq4t7w!zsCsF)J@NcRfUjXn2r5u8x/A" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="2" />


    </application>

</manifest>